{%extends 'layout/base.html'%}
{%block title%}Bài học{%endblock%}
{%block content%}
{%if is_registered %}
<div class="container mt-4">
    <h3 class="text-primary text-center mb-4">
        Lesson: "{{lesson.title}}"
    </h3>
    {% if lesson.video_url %}
    <div class="d-flex justify-content-center mb-4">
        <div class="ratio ratio-16x9" style="width: 70%;">
            <iframe src="{{lesson.video_url}}" allowfullscreen></iframe>
        </div>
    </div>
    {%endif%}
    <div class="card shadow-sm border-0 p-4 lesson-content">
        <h5 class="mb-3 text-success">📖 Nội dung bài học</h5>
        <p class="text-muted" style="line-height: 1.8;">{{ lesson.content }}</p>
    </div>
</div>
{%else%}
 <p style="color:red; font-weight:bold;">{{message}}</p>
{%endif%}
{%endblock%}