{%extends 'layout/base.html'%}
{%block content%}
<form action="/add_khoahoc" enctype="multipart/form-data" method="post">
    <div class="mb-3 mt-3">
        Tên khóa học: <input class="form-control" name="khoahoc_name" placeholder="Nhập tên khóa học"
                             type="text" required>
    </div>
    <div class="mt-2"> Cấp độ:
        <select class="form-select" name="capdo_id">
            {%for c in capdo%}
            <option value="{{c.id}}">{{c.name}}</option>
            {%endfor%}
        </select>
    </div>
    <div mb-3 mt-3>
        Học phí: <input class="form-control" name="khoahoc_hp" placeholder="Nhập học phí" required type="text">
    </div>
    <div>
        <label for="comment">Mô tả:</label>
        <textarea class="form-control" id="comment" name="khoahoc_text" rows="5"></textarea>
    </div>
    <div class="mt-2">
        Hình ảnh: <input accept="image/*" class="form-control mb-2" name="ten_file" type="file">
    </div>
    <div class="mt-4">
        <button class="btn btn-success" type="submit">Thêm khóa học</button>
    </div>
</form>
{%endblock%}