{% extends 'layout/base.html' %}
{% block content %}

<h3 class="text-info text-center pt-3">Quản lý tiến độ học</h3>
{% if message %}
    <p style="color:red; font-weight:bold;">{{message}}</p>
{% else %}
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>STT</th>
            <th>Học viên</th>
            <th>Email</th>
            <th>Tiến độ học</th>
        </tr>
    </thead>
    <tbody>
        {% for u in user %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ u.name }}</td>
            <td>{{ u.email }}</td>
            <td>
                <a href="{{ url_for('teacher_view_progress', user_id=u.id) }}" class="btn btn-sm btn-outline-info">
                <i class="fa-solid fa-chart-line"></i> Xem chi tiết
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endif%}
{%endblock%}